body {
    color: #FFFFFFDB;
    background-color: black;
    font-family: "afacad", sans-serif;
}

:root {
    --color-textbox: #0000006b;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-textbox: #FFFFFF71;
    }
}

h1 {
    font-size: var(--h1-font-size);
    font-weight: bold;
}

h2 {
    font-size: var(--h2-font-size);
}

h4 {
    font-size: var(--h4-font-size);
}

p {
    font-size: 1rem;
    font-weight: normal;
}

@media screen and (max-width: 720px) {
    :root {
        --h1-font-size: 2.7rem;
        --h2-font-size: 2.4rem;
        --h3-font-size: 2rem;
        --h4-font-size: 1.2rem;
    }
}

