body {
    color: #FFFFFFDB;
    background-color: black;
    font-family: "afacad", sans-serif;
}

:root {
    --color-textbox: #0000006b;
}

:root {
    --h1-font-size: 2.5rem;
    --h2-font-size: 2.2rem;
    --h3-font-size: 2rem;
    --h4-font-size: 1.2rem;
}

input:focus{
    display: block;
    border: 2px solid red;
}

::selection {
    background-color: #a66bdaa4;
}

/* @media (prefers-color-scheme: light) {
    :root {
        --color-textbox: #FFFFFF71;
        --color-text: #000000;
    }
} */

h1 {
    font-size: var(--h1-font-size);
    font-weight: bold;
}

h2 {
    font-size: var(--h2-font-size);
}

h4 {
    font-size: var(--h4-font-size);
}

p {
    font-size: 1rem;
    font-weight: normal;
}

figcaption {
    margin: 0.5rem;
    margin-left: 0;
    opacity: 75%;
}

@media screen and (min-width: 720px) {
    :root {
        --h1-font-size: 3rem;
        --h2-font-size: 2.4rem;
        --h3-font-size: 2rem;
        --h4-font-size: 1.2rem;
    }
}

@media screen and (min-width: 1024px) {
    :root {
        --h1-font-size: 4rem;
        --h2-font-size: 2.4rem;
        --h3-font-size: 2rem;
        --h4-font-size: 1.2rem;
    }
}