.hero-container {
    /* border: 1pt solid red; */

    background-image: url(../assets/showcase-images/Screenshot_bkr_toyota_gr86_timeattack_shuto_revival_project_beta_24-7-122-22-35-44.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100dvh;

    & div {
        /* border: 1pt solid lime; */
        /* align-items: baseline; */
        position: absolute;
        /* bottom: 50pt; */
        bottom: calc(100vh - 90vh);
        margin: 20pt;
        border: 1pt solid #ffffff2b;

        & h1, h4 {
            /* border: 1pt solid purple; */
            -webkit-backdrop-filter: blur(15px); 
            backdrop-filter: blur(15pt);
            padding: 10pt;
        }

        & h1 {
            /* background-color: #00000060; */
            background-color: var(--color-textbox);
            color: var(--textcolor);
        }
    }
}